package {{ObtainPackageName .Module}}

import (
	"context"
	"go.opentelemetry.io/collector/component/componenttest"
	"testing"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/require"
	"go.opentelemetry.io/collector/receiver/receivertest"
)

func TestMetricsReceiverNoErrors(t *testing.T) {
	f := NewFactory()
	lme, err := f.CreateMetricsReceiver(context.Background(), receivertest.NewNopCreateSettings(), f.CreateDefaultConfig(), nil)
	require.NotNil(t, lme)
	assert.NoError(t, err)

	assert.NoError(t, lme.Start(context.Background(), componenttest.NewNopHost()))

	assert.NoError(t, lme.Shutdown(context.Background()))
}
