package {{ObtainPackageName .Module}}

import (
	"context"

	"go.opentelemetry.io/collector/component"
)

type metric struct {
}

func (comp *metric)Start(ctx context.Context, host component.Host) error {
	return nil

}

func (comp *metric)Shutdown(ctx context.Context) error {
	return nil
}
